$nav-padding-side: 30px;

li {
    list-style: none;
}

.home-wrapper {
    display: flex;
    justify-content: stretch;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    nav {
        flex: 1;
        background-color: #fafbfc;

        .home-logo-wrapper {
            margin: 30px $nav-padding-side 40px;
            width: 160px;
            height: 40px;
            font-size: 30px;
            color: #81c349;
            font-weight: 700;
        }

        ul>li {
            user-select: none;
            cursor: pointer;
            box-sizing: border-box;
            padding: 14px $nav-padding-side;
            text-align: left;
            font-size: 18px;

            .home-icon {
                margin-right: 10px;
            }
        }
    }

    main {
        flex: 3;
        box-sizing: border-box;
        overflow: auto;
        padding: 30px 30px 20px;

        .top-wrapper {
            display: flex;
            justify-content: space-between;

            h2 {
                font-weight: 700;
                color: #333;
                margin-left: auto;
                margin-right: 18px;
            }

            .button-logout {
                margin-right: 46px;
            }
        }

        .actions {
            .home-list-item-action {
                display: inline;
                border: 0;
                margin-right: 6px;
                background-color: transparent;
                color: blue;

            }
        }

        th.ant-table-cell {
            background-color: #fff;
        }
    }
}

.popover-wrapper {
    width: 200px;

    >div:nth-child(-n+3) {
        margin-bottom: 12px;
    }
}

.share-box {

    h3 {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 20px;
    }

    .filename-wrapper {
        margin-bottom: 20px;
    }

    .input-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        span {
            width: 60px;
        }

        .input {
            flex: 1;
        }
    }

    .radio-wrapper {
        display: block;
    }
}